In [1]:
import pandas as pd
import json

In [5]:
meta = pd.read_csv("meta.csv")

In [6]:
meta

                        name         type      subtype is_entity
0                       DATE         time          NaN     False
1                DAY_OF_WEEK  categorical  categorical      True
2                    AIRLINE  categorical  categorical      True
3              FLIGHT_NUMBER           id          NaN      True
4                TAIL_NUMBER           id          NaN      True
5             ORIGIN_AIRPORT           id          NaN      True
6        DESTINATION_AIRPORT           id          NaN      True
7   SCHEDULED_DEPARTURE_HOUR       number      integer       NaN
8             SCHEDULED_TIME       number        float       NaN
9               ELAPSED_TIME       number        float       NaN
10           DEPARTURE_DELAY       number        float       NaN
11             ARRIVAL_DELAY       number        float       NaN
12                 CANCELLED  categorical  categorical       NaN
13       CANCELLATION_REASON  categorical  categorical       NaN
14          AIR_SYSTEM_DELAY       number        float       NaN
15            SECURITY_DELAY       number        float       NaN
16             AIRLINE_DELAY       number        float       NaN
17       LATE_AIRCRAFT_DELAY       number        float       NaN
18             WEATHER_DELAY       number        float       NaN

In [3]:
fields = []

for _id, row in meta.iterrows():
    col = {
        "name": row["name"],
        "type": row["type"],
        #         'is_entity': bool(row['is_entity'])
    }
    if not pd.isna(row["subtype"]):
        col["subtype"] = row["subtype"]

    # print(col)
    fields.append(col)

meta = {"tables": [{"fields": fields}]}

In [4]:
meta

{'tables': [{'fields': [{'name': 'DATE', 'type': 'time'},
    {'name': 'DAY_OF_WEEK', 'type': 'categorical', 'subtype': 'categorical'},
    {'name': 'AIRLINE', 'type': 'categorical', 'subtype': 'categorical'},
    {'name': 'FLIGHT_NUMBER', 'type': 'id'},
    {'name': 'TAIL_NUMBER', 'type': 'id'},
    {'name': 'ORIGIN_AIRPORT', 'type': 'id'},
    {'name': 'DESTINATION_AIRPORT', 'type': 'id'},
    {'name': 'SCHEDULED_DEPARTURE_HOUR',
     'type': 'number',
     'subtype': 'integer'},
    {'name': 'SCHEDULED_TIME', 'type': 'number', 'subtype': 'float'},
    {'name': 'ELAPSED_TIME', 'type': 'number', 'subtype': 'float'},
    {'name': 'DEPARTURE_DELAY', 'type': 'number', 'subtype': 'float'},
    {'name': 'ARRIVAL_DELAY', 'type': 'number', 'subtype': 'float'},
    {'name': 'CANCELLED', 'type': 'categorical', 'subtype': 'categorical'},
    {'name': 'CANCELLATION_REASON',
     'type': 'categorical',
     'subtype': 'categorical'},
    {'name': 'AIR_SYSTEM_DELAY', 'type': 'number', 'subtype': 'float'},
    {'name': 'SECURITY_DELAY', 'type': 'number', 'subtype': 'float'},
    {'name': 'AIRLINE_DELAY', 'type': 'number', 'subtype': 'float'},
    {'name': 'LATE_AIRCRAFT_DELAY', 'type': 'number', 'subtype': 'float'},
    {'name': 'WEATHER_DELAY', 'type': 'number', 'subtype': 'float'}]}]}

In [4]:
with open("meta.json", "w") as f:
    json.dump(meta, f, indent=4, separators=(",", ": "), sort_keys=True)