In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(
    "flights.csv",
    dtype={
        "TAIL_NUMBER": str,
        "FLIGHT_NUMBER": str,
        "ORIGIN_AIRPORT": str,
        "DESTINATION_AIRPORT": str,
    },
)
# df_head = df.head(100)

In [3]:
# df = df_head.copy()
df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df["DATE"] = df.apply(
    lambda row: "%04d-%02d-%02d" % (row["YEAR"], row["MONTH"], row["DAY"]), axis=1
)

In [5]:
df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,DATE
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01

In [6]:
df["SCHEDULED_DEPARTURE_HOUR"] = df.apply(
    lambda row: row["SCHEDULED_DEPARTURE"] // 100, axis=1
)
df["SCHEDULED_DEPARTURE_MINUTE"] = df.apply(
    lambda row: row["SCHEDULED_DEPARTURE"] % 100, axis=1
)

In [7]:
df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,DATE,SCHEDULED_DEPARTURE_HOUR,SCHEDULED_DEPARTURE_MINUTE
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01,0,5
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01,0,10
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01,0,20
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01,0,20
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01,0,25

In [8]:
df["CANCELLATION_REASON"] = df["CANCELLATION_REASON"].apply(
    lambda x: "-" if not isinstance(x, str) else x
)
df["TAIL_NUMBER"] = df["TAIL_NUMBER"].apply(
    lambda x: "-" if not isinstance(x, str) else x
)
df["FLIGHT_NUMBER"] = df["AIRLINE"] + df["FLIGHT_NUMBER"]

In [9]:
df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,DATE,SCHEDULED_DEPARTURE_HOUR,SCHEDULED_DEPARTURE_MINUTE
0,2015,1,1,4,AS,AS98,N407AS,ANC,SEA,5,...,0,-,NaN,NaN,NaN,NaN,NaN,2015-01-01,0,5
1,2015,1,1,4,AA,AA2336,N3KUAA,LAX,PBI,10,...,0,-,NaN,NaN,NaN,NaN,NaN,2015-01-01,0,10
2,2015,1,1,4,US,US840,N171US,SFO,CLT,20,...,0,-,NaN,NaN,NaN,NaN,NaN,2015-01-01,0,20
3,2015,1,1,4,AA,AA258,N3HYAA,LAX,MIA,20,...,0,-,NaN,NaN,NaN,NaN,NaN,2015-01-01,0,20
4,2015,1,1,4,AS,AS135,N527AS,SEA,ANC,25,...,0,-,NaN,NaN,NaN,NaN,NaN,2015-01-01,0,25

In [10]:
for item in [
    "ELAPSED_TIME",
    "DEPARTURE_DELAY",
    "ARRIVAL_DELAY",
    "AIR_SYSTEM_DELAY",
    "SECURITY_DELAY",
    "AIRLINE_DELAY",
    "LATE_AIRCRAFT_DELAY",
    "WEATHER_DELAY",
]:
    df[item] = df[item].apply(lambda x: 0 if np.isnan(x) else x)

In [11]:
new_df = df[
    [
        "DATE",
        "DAY_OF_WEEK",
        "AIRLINE",
        "FLIGHT_NUMBER",
        "TAIL_NUMBER",
        "ORIGIN_AIRPORT",
        "DESTINATION_AIRPORT",
        "SCHEDULED_DEPARTURE_HOUR",
        "SCHEDULED_TIME",
        "ELAPSED_TIME",
        "DEPARTURE_DELAY",
        "ARRIVAL_DELAY",
        "CANCELLED",
        "CANCELLATION_REASON",
        "AIR_SYSTEM_DELAY",
        "SECURITY_DELAY",
        "AIRLINE_DELAY",
        "LATE_AIRCRAFT_DELAY",
        "WEATHER_DELAY",
    ]
]
new_df.to_csv("flight-clean.csv", index=None)

In [12]:
new_df = pd.read_csv(
    "flight-clean.csv", dtype={"ORIGIN_AIRPORT": str, "DESTINATION_AIRPORT": str}
)

In [13]:
new_df.head()

,DATE,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE_HOUR,SCHEDULED_TIME,ELAPSED_TIME,DEPARTURE_DELAY,ARRIVAL_DELAY,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015-01-01,4,AS,AS98,N407AS,ANC,SEA,0,205.0,194.0,-11.0,-22.0,0,-,0.0,0.0,0.0,0.0,0.0
1,2015-01-01,4,AA,AA2336,N3KUAA,LAX,PBI,0,280.0,279.0,-8.0,-9.0,0,-,0.0,0.0,0.0,0.0,0.0
2,2015-01-01,4,US,US840,N171US,SFO,CLT,0,286.0,293.0,-2.0,5.0,0,-,0.0,0.0,0.0,0.0,0.0
3,2015-01-01,4,AA,AA258,N3HYAA,LAX,MIA,0,285.0,281.0,-5.0,-9.0,0,-,0.0,0.0,0.0,0.0,0.0
4,2015-01-01,4,AS,AS135,N527AS,SEA,ANC,0,235.0,215.0,-1.0,-21.0,0,-,0.0,0.0,0.0,0.0,0.0

In [14]:
new_df_sample = new_df[new_df["DATE"] < "2015-02-01"]

In [15]:
new_df_sample.head()

,DATE,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE_HOUR,SCHEDULED_TIME,ELAPSED_TIME,DEPARTURE_DELAY,ARRIVAL_DELAY,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015-01-01,4,AS,AS98,N407AS,ANC,SEA,0,205.0,194.0,-11.0,-22.0,0,-,0.0,0.0,0.0,0.0,0.0
1,2015-01-01,4,AA,AA2336,N3KUAA,LAX,PBI,0,280.0,279.0,-8.0,-9.0,0,-,0.0,0.0,0.0,0.0,0.0
2,2015-01-01,4,US,US840,N171US,SFO,CLT,0,286.0,293.0,-2.0,5.0,0,-,0.0,0.0,0.0,0.0,0.0
3,2015-01-01,4,AA,AA258,N3HYAA,LAX,MIA,0,285.0,281.0,-5.0,-9.0,0,-,0.0,0.0,0.0,0.0,0.0
4,2015-01-01,4,AS,AS135,N527AS,SEA,ANC,0,235.0,215.0,-1.0,-21.0,0,-,0.0,0.0,0.0,0.0,0.0

In [11]:
new_df_sample.to_csv("flight-sampled.csv", index=None)